{% extends 'base.html.twig' %}

{% block title %}Campus index{% endblock %}

{% block body %}
    <h1>Liste des campus </h1>
<div class="container mt-3">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for campus in campuses %}
            <tr>
                <td>{{ campus.id }}</td>
                <td>{{ campus.nom }}</td>
                <td>
                    <a href="{{ path('app_campus_show', {'id': campus.id}) }}">Afficher</a>
                    <a href="{{ path('app_campus_edit', {'id': campus.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune données trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('app_campus_new') }}">Ajouter un nouveau campus </a>
{% endblock %}
