{% extends 'base.html.twig' %}

{% block title %}Sortir.com - Connexion{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background:#fffefb ; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <img src="{{ asset('img/logo-eni.png') }}" alt="logo ENI">
    <h1>Connexion</h1>
Veuillez vous connectez ci-dessous :
 <form>
     {{ form_errors(connexionForm) }}

     {{ form_start(connexionForm) }}
     {{ form_widget(connexionForm) }}

     <button type="submit" class="btn">Enregistrer</button>
     {{ form_end(connexionForm) }}
 </form>
</div>
{% endblock %}
