{% extends 'base.html.twig' %}

{% block title %} Modifier mon profil {% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container-fluid">
    <div class="row justify-content-center">

    <div class="col-5 ">
    <h1 class="text-center  mt-3 pt-3 display-9 fw-bold">Modifier mon profil </h1>

    {{ form_errors(EditProfilForm) }}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

    {{ form_start(EditProfilForm) }}
    {{ form_row(EditProfilForm.pseudo, {'value': app.user.pseudo}) }}
    {{ form_row(EditProfilForm.prenom, {'value': app.user.prenom}) }}
    {{ form_row(EditProfilForm.nom , {'value': app.user.nom}) }}
    {{ form_row(EditProfilForm.telephone, {'value': app.user.telephone}) }}
    {{ form_row(EditProfilForm.campus, {'value': app.user.campus.nom}) }}
    {{ form_row(EditProfilForm.email, {'value': app.user.email}) }}
   {# {{ form_row(EditProfilForm.plainPassword, {
        label: 'Password'
    }) }} #}


    <div class="justify-content-center text-center">
    <button class="btn btn-lg btn-secondary" type="submit" >Annuler</button>
    <button class="btn btn-lg btn-primary" type="submit" >Enregistrer</button>
    {{ form_end(EditProfilForm) }}
    </div>
    </div>
    </div>

    </div>
{% endblock %}