{% extends 'base.html.twig' %}

{% block title %} Mon profil {% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h2> {{ app.user.pseudo}} </h2>

        <div>
            <div>Prénom : {{ app.user.prenom }}</div>
            <div>Nom : {{ app.user.nom }}</div>
            <div>Téléphone : {{ app.user.telephone }}</div>
            <div>Email : {{ app.user.email }}</div>
            <div>Campus : {{ app.user.campus }}</div>
            <div>
                <a href="#" class="#">Modifier le profil</a>
                <a href="{{ path('app_sorties') }}" class="#">Retour</a>
            </div>
        </div>
        {# {{ form_start() }}
            {{ form_widget() }}

            <button type="submit" class="btn">Enregistrer</button>
            <button type="button" class="btn">Annuler</button>
            {{ form_end() }} #}

    </div>
{% endblock %}