{% extends 'base.html.twig' %}

{% block title %} Mon profil {% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-3 ">
            <h2 class="text-center  mt-3 pt-3 display-9 fw-bold">Mon profil </h2>

            <form class="row justify-content-center">
            <label>Pseudo : {{ app.user.pseudo }}</label>
            <label>Prénom : {{ app.user.prenom }}</label>
            <label>Nom : {{ app.user.nom }}</label>
            <label>Téléphone : {{ app.user.telephone }}</label>
            <label>Email : {{ app.user.email }}</label>
           <label>Campus : {{ app.user.campus.nom }}</label>

                <div class="justify-content-center text-center">
                <a href="{{ path('app_profilmodifier') }}" class="btn btn-lg btn-primary">Modifier</a>
                <a href="{{ path('app_sorties_index') }}" class="btn btn-lg btn-secondary">Retour</a>
                <a href="{{ path('app_profilmodifiermdp') }}" class="btn btn-danger">Modifier mon mot de passe </a>

                </div>

            </form>
            </div>
        </div>
    </div>


{% endblock %}