<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-5 text-primary">
{{ form_start(form) }}

            {{ form_errors(form) }}

            {{ form_row(form.nom) }}
            {{ form_row(form.dateHeureDebut) }}
            {{ form_row(form.dateLimiteInscription) }}
            {{ form_row(form.nbInscriptionsMax) }}
            {{ form_row(form.duree) }}
            {{ form_row(form.infosSortie) }}
            Campus : {{ app.user.campus.nom }}
            {{ form_row(form.ville) }}
            {{ form_row(form.lieu) }}
            {{ form_row(form.rue) }}
            {{ form_row(form.codePostal) }}
            {{ form_row(form.latitude) }}
            {{ form_row(form.longitude) }}
            {{ form_row(form.etat) }}


            <div class="justify-content-center text-center">
    <button class="btn btn-lg btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
