{% extends 'base.html.twig' %}

{% block title %}Sorties index{% endblock %}

{% block body %}
    <h1>Sorties index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits / Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
       {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y à H:i:s') : '' }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y') : '' }}</td>
                <td>{{ sortie.users.count }}/{{ sortie.nbInscriptionsMax }}</td>

                <td>{{ sortie.etat.libelle }}</td>
                <td>{{ sortie.users.contains(app.user) ? 'X' : '' }}</td>
                <td>
                    <a href="{{ path('app_autreprofil',{'id': sortie.organisateur.id}) }}">{{sortie.organisateur.nom}}</a>
                </td>
                <td>
                    <a href="{{ path('app_sorties_show', {'id': sortie.id}) }}">Afficher</a>
                    <a href="{{ path('app_sorties_edit', {'id': sortie.id}) }}">Modifier</a>
                    <a href="{{ path('app_sorties_inscription', {'id': sortie.id}) }}">S'inscrire</a>
                </td>
            </tr>
       {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
       {% endfor %}
        </tbody>
    </table>

    <div class="justify-content-center text-center">
    <a href="{{ path('app_sorties_new') }}" class="btn btn-lg btn-primary">Créer une nouvelle sortie</a>
    </div>
{% endblock %}
