<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_sorties_index') }}">SORTIR.COM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link mx-2" aria-current="page" href="{{ path('app_sorties_index') }}">Accueil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link mx-2 dropdown-toggle" href="{{ path('app_monprofil') }}" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profil</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ path('app_monprofil') }}">Mon profil</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_profilmodifier') }}">Modifier profil</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    </ul>
                </li>
                {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{{ path('app_ville_index') }}">Villes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{{ path('app_campus_index') }}">Campus</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="{{ path('app_register') }}">Créer un utilisateur</a>
                    </li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


{# <nav>
    <ul>
        {% if app.user %}
        <li><a href="{{ path('app_sorties_index') }}" title="Accueil">Accueil</a></li>
        <li><a href="{{ path('app_monprofil') }}" title="Mon profil">Mon profil</a></li>
        <li><a href="{{ path('app_logout') }}" title="Se déconnecter">Se déconnecter</a></li>

            {% if is_granted("ROLE_ADMIN") %}
                <li><a href="{{ path('app_register') }}" title="Créer utilisateur">Créer utilisateur</a></li>
                <li><a href="{{ path('app_villes')}}" title="Villes">Villes</a></li>
                <li><a href="{{ path('app_campus') }}" title="Campus">Campus</a></li>

            {% endif %}
        {% endif %}
    </ul>
</nav> #}